.h1 {
  .title-1 {
    color: #e6e6e6;
    font-family: Lora;
    text-align: center;
    width: percentage(1/7);
    font-size: 0.75rem;
    padding: 0.5rem;
    transition: background-color 0.25s ease-in-out;
  }
}
