.button-title {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0.4rem;
    font-size: 30px;
    color: #FFFFFF;
    font-weight: 400;
    background-color: #424651;
    border-radius: 50px;
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;

    &:hover {
        background-color: #F69ED3;
    }
}


