.body-copy {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding: 0.1rem;
    font-size: 18px;
    color: #424651;
    align-content: center;
    margin: auto;
    width: 10%;

}